RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteRule ^media-package/?$ /media-package.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
